---
import {Image} from "astro:assets";
import {MessageCircle} from "lucide-astro";
import Thunder from "../assets/projects/weather-app/thunder.webp";
import PartiallyCloudy from "../assets/projects/weather-app/partially-cloudy.webp";
import LapzyLogo from "../assets/projects/lapzy/logo.svg";
import TrelloIcon from "../assets/projects/trello-clone/icon.svg";
import TrelloText from "../assets/projects/trello-clone/text.svg";
import DietTailorLogo from "../assets/projects/diettailor/logo.svg";
import BizzlyLogo from "../assets/projects/bizzly/logo.svg";

interface Props {
  class: string
}

const {class: className} = Astro.props;
---

<ul class={`${className} grid grid-cols-8 max-w-[128rem] mx-auto`}>

  <li class="project-item group relative col-span-4 md:col-span-2 aspect-square overflow-hidden z-0 hover:scale-[1.05] hover:rounded-2xl hover:shadow-[0_0_25px_0_rgba(0,0,0,0.3)] hover:z-10 transition-[transform,border-radius,box-shadow] duration-500 has-[a:focus-visible]:ring-4 has-[a:focus-visible]:ring-primary-500 has-[a:focus-visible]:z-10">
    <a href="https://patrickhuizinga.nl/weather-app" target="_blank">
      <div class="flex justify-center items-center h-full w-full font-semibold text-3xl sm:text-5xl text-white leading-tight bg-gradient-to-br from-[#55AEFF] to-[#6543FF]">
        Weather <br/>
        App
      </div>
    </a>
    <Image src={Thunder} alt=""
           class="absolute h-32 md:h-48 -top-10 right-full group-hover:translate-x-24 sm:group-hover:translate-x-32 duration-500"/>
    <Image src={PartiallyCloudy} alt=""
           class="absolute h-24 sm:h-32 bottom-2 sm:bottom-4 left-full group-hover:-translate-x-16 sm:group-hover:-translate-x-28 duration-500"/>
  </li>

  <li class="project-item col-span-4 md:col-span-2 relative aspect-square overflow-hidden z-0 hover:scale-[1.05] hover:rounded-2xl hover:shadow-[0_0_25px_0_rgba(0,0,0,0.3)] hover:z-10 transition-[transform,border-radius,box-shadow] duration-500 has-[a:focus-visible]:ring-4 has-[a:focus-visible]:ring-primary-500 has-[a:focus-visible]:z-10">
    <a href="https://lapzy.nl" target="_blank">
      <div class="group relative flex flex-col justify-center items-center h-full w-full bg-gradient-to-t from-zinc-300 to-white bg-repeat p-8">
        <div class="opacity-0 group-hover:opacity-25 absolute inset-0 bg-gradient-to-t from-blue-500 to-transparent duration-500"></div>
        <Image src={LapzyLogo} alt="Lapzy" class="w-12 sm:w-20 z-0"/>
        <span class="text-3xl sm:text-4xl font-light tracking-widest text-gray-900 mt-4">LAPZY</span>
      </div>
    </a>
  </li>

  <li class="project-item group relative col-span-4 md:col-span-2 aspect-square overflow-hidden bg-blue-100 z-0 hover:scale-[1.05] hover:rounded-2xl hover:shadow-[0_0_25px_0_rgba(0,0,0,0.3)] hover:z-10 transition-[transform,border-radius,box-shadow] duration-500 has-[a:focus-visible]:ring-4 has-[a:focus-visible]:ring-primary-500 has-[a:focus-visible]:z-10">
    <a href="https://bizzly.nl" target="_blank" class="relative flex items-center justify-center h-full w-full p-4">
      <Image src={BizzlyLogo} alt="Bizzly" class="h-8 sm:h-12 md:h-16 w-auto z-0"/>
      <MessageCircle class="hidden sm:inline-block opacity-0 size-8 text-white ml-1 -mt-12 group-hover:opacity-100 duration-500"/>
    </a>
  </li>

  <li class="project-item group relative col-span-4 md:col-span-2 aspect-square overflow-hidden bg-[#FBFFF4] z-0 hover:scale-[1.05] hover:rounded-2xl hover:shadow-[0_0_25px_0_rgba(0,0,0,0.3)] hover:z-10 transition-[transform,border-radius,box-shadow] duration-500 has-[a:focus-visible]:ring-4 has-[a:focus-visible]:ring-primary-500 has-[a:focus-visible]:z-10">
    <a href="https://diettailor.fit" target="_blank" class="grid place-items-center h-full w-full p-4">
      <Image src={DietTailorLogo} alt="DietTailor" class="h-8 sm:h-12 md:h-16 z-0"/>
    </a>
  </li>

</ul>

<style>
    .project-item {
        transition: all .3s ease, z-index 0.3s step-end;
    }

    .project-item:hover {
        transition: all .3s ease .3s;
    }
</style>